* {
    margin: 0;
    text-decoration: none;
}
.contacto-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    padding: 10px;
    gap: 30px;
}
.contacto-form label {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.contacto-form input, .contacto-form select {
    height: 20px;
}
.contacto-form textarea {
    height: 100px;
}
#enviar {
    display: inline-block;
    margin: auto;
    padding: 20px;
    border: none;
}