* {
    margin: 0;
    text-decoration: none;
}
a {
    color: inherit;
}
#carousel {
    max-height: 430px; 
    overflow:hidden;
}

.carousel-item img {
    width: 100%; 
    height: fit-content;
}
/*Página Sobre Nosotros*/
.contacto {
    padding: 25px 0;
    background: #b3b3b3;
}
.contacto-content {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    margin: auto;
    gap: 50px;
    padding: 25px 50px;
}
.texto-descripcion {
    width: 500px;
    padding: 50px 0;
    margin: auto;
}
.ubicacion {
    margin: auto;
}
.gmaps-img {
    height: 300px;
    border: 2px solid white;
    border-radius: 4px;
    margin-bottom: 25px;
}
.contacto-form {
    display: flex;
    flex-direction: column;
    width: 60%;
    max-width: 600px;
    margin: auto;
    padding: 16px;
    gap: 12px;
    background: grey;
    border-radius: 8px;
}
.contacto-form label {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.contacto-form input, 
.contacto-form select {
    height: 32px;
    padding: 6px;
    font-size: 14px;
}
.contacto-form textarea {
    height: 100px;
    padding: 6px 8px;
    margin-top: 10px;
    font-size: 16px;
}
.contacto-form input, .contacto-form select,
.contacto-form textarea {
    border-radius: 4px;
    border: none;
}
.checkbox-texto {
    padding: 0 10px;
    font-size: 14px;
}
.checkbox-label {
    place-items: center;
    margin: auto;
}
#enviar {
    margin: auto;
    height: fit-content;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background: #2e2e2e;
    color: white;
}
.redes-contacto {
    display: flex;
    flex-direction: column;
    margin: 15px auto;
    align-items: center;
}
.redes-links i {
    text-align: center;
    font-size: 36px;
    margin: 0 15px;
    transition: 0.2s ease;
}
.redes-links i:hover {
    color: #414141;
}
.redes-links i:active {
    color: #b3b3b3;
}

@media screen and (max-width: 992px) {
    .contacto-content {
        flex-direction: column;
        justify-content: center;
        padding: 25px 10px;
    }
    .texto-descripcion {
        width: 80%;
        padding: 25px 0;
    }
    .gmaps-img {
        height: 400px;
    }
    .contacto-form {
        width: 90%;
    }
    input[type="checkbox"] {
        transform: scale(1.5);
    }
}